h1, h2 {
    text-align: center;
    }
    form {
    max-width: 400px;
    margin: 20px auto;
    }
    input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    }
    button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    }
    button:hover {
    background-color: #4cae4c;
    }
    ul {
    max-width: 400px;
    margin: 20px auto;
    } 